{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
  <div class="row justify-content-center my-4">
    <div class="col-md-8">
      <h1 class="text-center mb-4">Welcome to Customer 360</h1>
      <p class="text-center mb-4">Interact and Manage your Customers</p>
      <div class="text-center mb-4">
        <button class="btn btn-primary" onclick="setCustomer()">Interact</button>
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Customer ID</th>
              <th>Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Address</th>
              <th>Social Media</th>
              <th>Select</th>
            </tr>
          </thead>
          <tbody>
            {% for customer in customers %}
            <tr>
              <td>{{ customer.id }}</td>
              <td>{{ customer.name }}</td>
              <td>{{ customer.email }}</td>
              <td>{{ customer.phone }}</td>
              <td>{{ customer.address }}</td>
              <td>{{ customer.social_media }}</td>
              <td>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="selected_customers" value="{{ customer.id }}" id="customer-{{ customer.id }}">
                  <label class="form-check-label" for="customer-{{ customer.id }}"></label>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
  function setCustomer() {
    var cinput = document.querySelector('input[name="selected_customers"]:checked');
    if (cinput) {
      cid = cinput.value;
      window.location = "/interact/" + cid;
    } else {
      alert("Please select a customer");
    }
  }
</script>
{% endblock content %}